:root {
  --dark-midnight-blue: #06141b;
  --charcoal-blue: #11212d;
  --dark-green: #002e2c;
  --midnight-green: #013436;
  --dark-slate-gray: #253745;
  --steel-blue: #4a5c6a;
  --cadet-blue: #9ba8ab;
  --light-gray: #ccd0cf;
  --ghost-white: #f7f7ff;
  --pistachio: #72b623;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background: #f0f0f0;
}

#get-in-touch {
  display: flex; /* Using flexbox for layout */
  flex-direction: column; /* Stacking elements vertically */
  padding: 1.25rem; /* 20px converted to rem */
  background-color: #f8f8f8; /* Setting background color */
}

.contact-info,
.contact-form {
  flex: 1; /* Allowing each section to take up equal space */
  padding: 1.25rem 3.125rem 1.25rem 0; /* 20px 50px 20px 0px converted to rem */
}

.contact-info {
  margin-bottom: 1.25rem; /* 20px converted to rem */
}

.contact-info h2 {
  margin-top: 0; /* Resetting top margin */
  text-transform: uppercase; /* Transforming text to uppercase */
  font-size: 1.2rem; /* Setting font size */
  font-weight: bold; /* Setting font weight */
}

.contact-info strong {
  font-weight: 300; /* Setting font weight */
  text-transform: uppercase; /* Transforming text to uppercase */
  font-size: medium; /* Setting font size */
}

.contact-info p {
  font-size: medium; /* Setting font size */
}

.social-media a {
  margin-right: 0.625rem; /* 10px converted to rem */
  text-decoration: none; /* Removing underline */
  color: #253745; /* Setting text color */
  font-size: 1.4rem;
}

.contact-form form {
  display: flex; /* Using flexbox for layout */
  flex-direction: column; /* Stacking form elements vertically */
}

.form-group {
  display: flex; /* Using flexbox for layout */
  margin-bottom: 0.625rem; /* 10px converted to rem */
}

.form-group input,
.form-group textarea {
  flex: 1; /* Allowing input fields to take up remaining space */
  padding: 0.625rem; /* 10px converted to rem */
  margin-right: 0.625rem; /* 10px converted to rem */
  border: 1px solid #ccc; /* Setting border */
  color: #253745; /* Setting text color */
  border-radius: 1rem; /* 16px converted to rem */
  transition: border-color 0.2s ease-in-out; /* Adding transition property */
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #72b623; /* Changing border color on focus */
  outline: none; /* Removing default outline */
}

.form-group input:last-child,
.form-group textarea {
  margin-right: 0; /* Removing right margin for the last input */
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  opacity: 0.7; /* Setting placeholder opacity */
}

textarea {
  height: 6.25rem; /* 100px converted to rem */
  resize: vertical; /* Allowing vertical resizing */
}

button {
  font-family: inherit; /* Inheriting font family */
  font-size: 1.25rem; /* 20px converted to rem */
  background: #72b623; /* Setting background color */
  color: white; /* Setting text color */
  padding: 0.7em 1em; /* Setting padding */
  display: inline-flex; /* Setting display to inline-flex */
  align-items: center; /* Aligning items vertically */
  border: none; /* Removing border */
  overflow: hidden; /* Hiding overflow */
  border-radius: 1rem !important; /* 16px converted to rem */
  transition: all 0.2s; /* Adding transition for smooth animation */
  cursor: pointer; /* Changing cursor to pointer */
  width: auto; /* Making button width automatic */
  align-self: flex-start; /* Aligning button to the left */
}

button span {
  display: block; /* Setting display to block */
  margin-left: 0.3em; /* Adding margin on the left */
  transition: all 0.3s ease-in-out; /* Adding transition for smooth animation */
}

button svg {
  display: block; /* Setting display to block */
  transform-origin: center center; /* Setting transform origin */
  transition: transform 0.3s ease-in-out; /* Adding transition for smooth animation */
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate; /* Applying animation */
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1); /* Applying transformation */
}

button:hover span {
  transform: translateX(5em); /* Applying transformation */
}

button:active {
  transform: scale(0.95); /* Applying transformation on active state */
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em); /* Initial transformation */
  }
  to {
    transform: translateY(-0.1em); /* Final transformation */
  }
}

.detail {
  display: flex; /* Using flexbox for layout */
  align-items: flex-start; /* Aligning items vertically */
  margin: 0.625rem 0; /* 10px converted to rem */
}

.detail i {
  margin-right: 0.625rem; /* 10px converted to rem */
  font-size: 1.5rem; /* 24px converted to rem */
  color: #72b623; /* Setting icon color */
}

.detail div {
  display: flex; /* Using flexbox for layout */
  flex-direction: column; /* Stacking elements vertically */
}

.get-in-touch .div-head-section-text {
  text-align: center; /* Center-aligning text */
  padding-bottom: 0; /* Resetting bottom padding */
  margin-bottom: 1rem; /* Adding margin at the bottom */
}

.success-message {
  display: none;
  color: green;
  margin-top: 10px;
}


/* Media queries for responsiveness */
@media (min-width: 768px) {
  /* For screens larger than or equal to 768px */
  #get-in-touch {
    flex-direction: row; /* Changing flex direction */
  }

  .contact-info {
    margin-bottom: 0; /* Removing bottom margin */
  }
}

@media (max-width: 768px) {
  /* For screens smaller than 768px */
  .contact-info,
  .contact-form {
    padding: 1.25rem; /* 20px converted to rem */
  }
}

@media (max-width: 576px) {
  /* For screens smaller than 576px */
  .form-group {
    flex-direction: column; /* Stacking form elements vertically */
  }

  .form-group input,
  .form-group textarea {
    margin-right: 0; /* Removing right margin for inputs and textarea */
    margin-bottom: 0.625rem; /* 10px converted to rem */
  }

  .contact-info,
  .contact-form {
    padding: 0.625rem; /* 10px converted to rem */
  }
}
